#main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: -1px;
    padding-top: 0px;
    width: 100%;
    z-index:1;

    background: linear-gradient(to right,#7B28B1,#35EDF6);
    height: 405px;
    color: white;
    font-size: 60px;
    font-weight: 500;
}